{% extends 'base.html.twig' %}

{% block title %}Hello Controller!{% endblock %}

{% block body %}

<br>
<p>Title : {{ recipe.title }}</p>
<br>
<p>Duration : {{ recipe.duration }} min</p>
<br>
<p>NbPeople : {{ recipe.nbPeople }}</p>
<br>
{# <p>Ingredients : {{ recipe.ingredient.name }}</p> #}
<br>
<p>Content : <br>{{ recipe.content }}</p>
<br>
<p>Image : {{ recipe.image }}</p>


<button type="submit">Soumettre</button>

{% endblock %}